[submodule "libs/h5xx"]
	path = libs/h5xx
	url = ../h5xx
[submodule "libs/cuda-wrapper"]
	path = libs/cuda-wrapper
	url = git@github.com:/halmd-org/cuda-wrapper
[submodule "libs/luaponte"]
	path = libs/luaponte
	url = ../luaponte
[submodule "libs/cub"]
	path = libs/cub
	url = ../cub-slim
